* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg,#8c01d1,#00b7ff);
    padding: 20px;
  }

  .container {
    background: linear-gradient(45deg,rgb(0, 114, 228), rgb(174, 0, 209));
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  h1, h2, h3, p, li {
    color: #ffffff;
  }

  label {
    display: block;
    margin-top: 10px;
    color: #e0e0e0;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    background : linear-gradient(45deg,#00b7ff,#8c01d1);
    color: #fff;
    border: 3px solid white;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .resume {
    margin-top: 30px;
    background: linear-gradient(45deg,#8c01d1,#00b7ff);
    padding: 20px;
    border-radius: 10px;
    transition: all 1s
  }
  .resume:hover {
    transition: all 1s; transform: scale(1.1,1.1);
    filter: drop-shadow(5px 10px 10px #ffffffce);
  }

  ul {
    list-style-type: none;
  }

  .resume-section {
    margin-bottom: 20px;
  }